@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
  color: white;
  background: #7c2d2d;
  text-align: center;
}
table{
  border: 5px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media only screen and (max-width: 1200px) {
  body {
    
    font-size: 50px;
    line-height: 150%;
  }

  input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
  }

  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 5px solid #ddd;
  }
  .table-responsive > .table {
      margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap;
  }
  input[type=submit] {
    height:60px;
    font-size: 50px;
    padding:0px;
  }
  input[type=button] {
    height:60px;
    font-size: 50px;
    padding:0px;
  }
}